.fashion .mainBanner{
    height:680px;
    /* border:1px solid; */
    margin-top:30px;
}
/* 검색창 */
.fashion .mainBanner>.mainSearch{
    /* border:1px solid; */
    height:200px;
}
.fashion .mainBanner>.mainSearch>.searchBox>.search{
    margin:5px;
    width:1240px;
    height:77px;
    border-radius: 100px;
    text-align: left;    
    border: 3px solid #3A6B71;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .18);
    position: relative;
    line-height:50px;
}
.fashion .mainBanner>.mainSearch>.searchBox>.search>select{
    width: 130px;
    border: none;
    /* box-sizing: border-box; */
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 100% 50%;
    
    border: none;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 100% 50%;
    margin:20px 50px;
}

.fashion .mainBanner>.mainSearch>.searchBox>.search>#title{
    border:none;
    width: 800px;
    height: 40px;
    font-size: 20px;
    vertical-align: middle;
    text-align: left;
    padding: 3px 10px;
    /* box-sizing: border-box; */
}
.fashion .mainBanner>.mainSearch>.searchBox>.search>#searchBtn{
    /* position: absolute; */
    /* top: 50%;
    right: 15px; */
    width: 60px;
    height: 40px;
    border: 0;
    font-size:0;
    vertical-align: middle;
    /* opacity: .9; */
    /* z-index: 5; */
    background-color:white;
    /* line-height:35px; */
    margin-left:120px;
    justify-content: center;
    align-items: center;
}
.fashion .mainBanner>.mainSearch>.searchBox>.search>#searchBtn>img{
    width:40px;
    height:40px;
    filter: opacity(0.5) drop-shadow(0 0 0 #fff);
    display:block;
}

.fashion .mainBanner>.mainSearch>.searchBox>.searchKey{
    
}

.fashion .mainBanner>.mainSearch>.searchBox>.searchKey>.keyList{
    display:flex;
    /* border:1px solid; */
    margin:25px 380px;
    
}

.fashion .mainBanner>.mainSearch>.searchBox>.searchKey>.keyList a{
    /* border:1px solid; */
    border-radius:50px;
    margin:20px 5px;
    padding:8px;
    background-color:#3A6B71;
    color:white;
}
.fashion .mainBanner>.mainLayout{
    height:470px;
    /* border:1px solid; */
    display:flex;
    margin:0 20px;
}
.fashion .mainBanner>.mainLayout>.mainLeft{
    width:600px;
    height:450px;
    /* border:1px solid; */
    margin:10px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}
.fashion .mainBanner>.mainLayout>.mainLeft>.leftList{
    height:30px;
    margin:10px;
    font-size:20px;
}
.fashion .mainBanner>.mainLayout>.mainLeft>.leftList p{
    font-family:'f1';
    font-size:25px;
}

.fashion .mainBanner>.mainLayout>.mainLeft>.leftCategory{
    
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
}
.fashion .mainBanner>.mainLayout>.mainLeft>.leftCategory>li{
    margin:20px 0;
    height:150px;
    width: 20%; /* 5개니까 100% ÷ 5 = 20% */
    box-sizing: border-box;
    border: 1px solid #ccc; /* 보기 편하게 테두리 */
    text-align:center;
    padding: 10px 0;
}
.fashion .mainBanner>.mainLayout>.mainRight{
    width:600px;
    height:450px;
    margin:10px;

    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}

/* 로그인 부분 안넣어도 되지 않을까? */
.fashion .subMain>.join{
    height:430px;
    background-color:rgb(234, 234, 234);
    margin:0 33px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
}
.fashion .subMain>.join>.joinBox{
    border:1px solid;
    border-radius:8px;
    width:600px;
    height:300px;
    padding:30px 40px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
.fashion .subMain>.join>.joinBox>h2{
    margin:15px 0;
    padding-bottom:30px;
}
.fashion .subMain>.join>.joinBox>.joinBtn{
    border-radius:10px;
    border:1px solid;
    width:230px;
    height:65px;
    margin:130px;
    padding:15px;
    font-size:20px;
}
.fashion .subMain>.join>.joinBox p{
    margin:40px;
}

.fashion .subMain h2{
    margin:20px 0 0 30px;
    font-family:'f1';
}

/* 날씨 */
.fashion .subMain>.weather{
    height:635px;
    /* border:1px solid; */
}

.fashion .subMain>.weather>.weatherContent{
    display:flex;
    margin:25px 20px 0 20px;;
    /* border:1px solid; */
    height:530px;
}
.fashion .subMain>.weather>.weatherContent>.wcl{
    width:600px;
    margin:10px;
    background-color: rgb(234, 234, 234);

    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}
.fashion .subMain>.weather>.weatherContent>.wcr{
    width:600px;
    margin:10px;
    background-color: rgb(234, 234, 234);

    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}
.fashion .subMain>.issue{
    height:780px;
    /* border:1px solid; */
}

.fashion .subMain>.issue>.issueBoxes{
    margin:20px;
    /* border:1px solid; */
}
.fashion .subMain>.issue>.issueBoxes>.card{
    width:300px;
    height:380px;
    margin:10px;

    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    
}
.fashion .subMain>.issue>.issueBoxes>.card>.card-img-top{
    height:250px;
    /* width:280px; */
    background-color:rgb(234, 234, 234);
}
.fashion .subMain>.trend{
    height:830px;
    /* border:1px solid; */
}

.fashion .subMain>.trend>.trendContent{
    display:flex;

}
.fashion .subMain>.trend>.trendContent>.trendGraph{
    height:660px;
    width:780px;
    background-color:rgb(234, 234, 234);
    margin:20px;

    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}
.fashion .subMain>.trend>.trendContent>.trendChart{
    width:400px;
    height:660px;
    background-color:rgb(234, 234, 234);
    margin:20px;

    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}
.fashion .subMain>.board{
    height:466px;
}

.fashion .subMain>.board>.boardInfo>.boardTable{
    margin:20px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}