.wrapper{
    
    height: 1600px;

    display: flex;
    justify-content: center;

}

.box>h1{
    /* Fashionnet */

    margin: 130px 0 80px;

    text-align: center;

    
}
.box>h2{
    /* 패션넷 회원가입 */
    
    font-family: sans-serif;

    text-align: center;

    margin: 0 0 26px;
}

.step{
    /* 01 회원인증, 02 ..., 03 ...이 있는 공간 */
    display: flex;

    /* background-color: aqua; */


    width: 670px;
    height: 40px;

    justify-content: space-around;
    align-items: center;    

    margin-bottom: 50px;
    
}
.step>.on>em{
    /* 1, 2, 3 숫자  */

    display: inline-block;

    width: 37px;
    height: 37px;

    font-family: sans-serif;
    color: #5a5a5a;;

    text-align: center;
    line-height: 37px;

    margin-right: 5px;

    border-radius: 50%;

    border: 1px solid rgb(169, 161, 161);
}

.step>.on::after{
    content: ".....";
    
    display: inline-block;
    
    margin: 0 12px;

    font-size: 20px;

    letter-spacing: 3px;

    width: 37px;
    height: 37px;

    line-height: 37px;
    
    /* background-color: red; */
}

.step>.on:last-child::after{
    content: none;
}

.step>.on>em.active{
    /* 1, 2, 3 꺼멓게 칠할거 */

    background-color: black;
    font-weight: bold;
    color: white;
    

}

.terms-container{
    /* 개인정보 처리방침이 있는 박스 */

}

.check-box input[type="checkbox"]{
    /* 체크박스 체크용 */

    appearance: none;
    
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    border-radius: 3px;
    margin-right: 6px;
    vertical-align: middle;
    
}

.check-box input[type="checkbox"]:checked{
    /* 체크박스 색칠용 */

    box-shadow: 0px 0px 5px gray;
    background-color: rgb(143, 142, 142);
}

.terms-container>h3{
    width: 670px;
    height: 45px;

    margin: 0 0 17px;
    padding: 0 0 20px;

    font-family: sans-serif;
    font-size: 16px;

    border-bottom: 1px solid #333;
}

.terms-box{
    /* 스크롤 되는 박스들 */

    border: 1px solid #ccc;
    
    padding: 10px;
    
    height: 200px;
    
    overflow-y: scroll;

    background-color: white;

    font-size: 14px;

    line-height: 1.5;

    margin: 15px 0;
}

.email-h3{
    /* 이메일로 가입하기 */
    
  width: 100%;
  height: 35px;
  
  font-family: sans-serif;

  font-size: 14px;

  margin: 30px 0 10px 0;

  padding: 0 0 14px;

  border-bottom: 1px solid black;
}

.email-form{
    /* 이메일입력칸, 회원가입 버튼 */
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.email-form>input{
    /* 이메일 입력칸 */
    border-radius: 4px;

    width: 70%;
    height: 50px;
    
    border: 1px solid gray;



}
.email-form>.join-btn{
    /* 회원가입 버튼 */

    width: 25%;
    height: 50px;
    
    background-color: black;
    
    color: white;

    font-family:sans-serif;
    font-size: 16px;

    text-align: center;
    line-height:50px;
    
    text-decoration: none;

    border-radius: 4px;
}















