* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.layoutCenter{
    width:1280px;
    margin:0 auto;
}

 /* header width:1444px */
 
 .custom>.header{
    height:145px;
    border-bottom: 3px solid #3A6B71;
    box-shadow: 0 4px 3px #bbb;
    /* background-color:#3A6B71;  */
    /* #BFCFC9 */
    /* #3A6B71 */
    /* 버튼 : #3A6B71 */
    /* linear-gradient(90deg, #BCCDC3, #8BA69C */
    background-color: white;
    position:sticky; 
    top: 0;
    left:0;
    width:100vw;
    /* border:1px solid; */
    z-index: 1000;
    /* 맨 위에 붙어있게 하기 위해 top, left 0 필수 */
 }

 /* 로그인, 회원가입 -> topHeader */
.custom>.header>.topHeader{
    /* width:1444px; */
    height:45px; 
    /* 66px / 80px */
    padding:15px 0;
 }
.custom>.header>.topHeader>.topList>.topNav{
    display:flex;
    justify-content: flex-end;
    width:250px;
    margin-left:auto;
    /* border:1px solid;  */
}
.custom>.header>.topHeader>.topList>.topNav>.topNavli a{
    font-family:'nexonRegular';
    transition: color 0.3s ease;
    /* border:1px solid; */
    margin:20px 10px;
    font-size:20px;
}

/* logo, 메뉴바 -> navHeader */
.custom .navHeader{
    /* width:1444px; */
}

.custom .navHeader>.detailnav {
    display: flex;
    line-height: 90px;
}
.custom .navHeader>.detailnav>h1{
    margin:0 30px;
    line-height: 90px;
    text-align: center;
    font-style:#3A6B71;
}
.custom .navHeader>.detailnav>h1>a{
    font-family:'logo';
    color:#3A6B71;
    font-size:60px;
}

.custom .navHeader>.detailnav>.wrap{
    display:flex;
    /* border:1px solid; */
}

.custom .navHeader>.detailnav>.wrap>.mainNav {
    display: flex;
    justify-content: space-evenly;
    /* width:1440px; */
    border:1px solid;
}

.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList {
    border:1px solid;
    margin:0 20px;
    position: relative;
    text-align:center;
    float:left; 
    /* float 무슨 기능인지 몰겠네 */
}

.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList>.mainMenu {
    /* width: 200px; */
    margin:0 20px;
    line-height: 100px;
    font-size: 22px;
    font-family:'nexonBold';
}
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList:nth-child(1){
    margin-left:30px;
    /* border:1px solid; */
}


.navHeader>.detailnav>.wrap>.mainNav>.mainList>.subNav {
    width:100%;
    height:200px;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: white;
    /* opacity:0; */
    display: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 0;
}
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList>.subNav>.subList{
    /* border:1px solid; */
    height:60px;
}
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList>.subNav>.subList>a{
    display:flex;
    height: 100%; 
    align-items: center;
    padding:0 20px;
    /* line-height:60px; */
    justify-content: center;
}
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList:hover>.mainMenu{
    color:#3A6B71;
    font-weight: bold;
}
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList:hover .subNav {
    display: block;
}


.custom .navHeader>.detailnav>.wrap>.mainSideNav>.mainList>.login{
    line-height: 100px;
}
.custom .navHeader>.detailnav>.wrap>.mainSideNav>.mainList>.login>.imgLogin{
    margin-right:5px;
    height:21px;
}
.custom .navHeader>.detailnav>.wrap>.mainSideNav>.mainList>.join{
    line-height: 100px;
}



/* footer */
.custom>footer{
    background-color:rgba(0,0,0,0.1);
    /* #3a6b7113 */
    height:240px;
}
.custom .mainFooter{
    /* border:1px solid; */
    padding-top: 20px;
    /* 여기서 마진 잡으면 X */
}
.custom .mainFooter>.footerLogo>h1{
    margin:20px 30px;
    font-family:'logo';
}
.custom .mainFooter>.footerInfo{
    display:flex;
}
.custom .mainFooter>.footerInfo>.footerInfoL{
    margin-left:30px;
}
.custom .mainFooter>.footerInfo>.footerInfoL>p{
    width:700px;
    padding:0;
    margin:0 90px 0 0;
   
}
.custom .mainFooter>.footerInfo>.footerInfoR{
    width:500px;
    display:flex;
}
.custom .mainFooter>.footerInfo>.footerInfoR>.site{
    border-right:1px solid lightgray;
    width:120px;
}
.custom .mainFooter>.footerInfo>.footerInfoR>.site a{
    padding:10px;
}
.custom .mainFooter>.footerInfo>.footerInfoR li{
    margin:10px;
}
.custom .mainFooter>.footerInfo>.footerInfoR a{
    /* margin:0px; */
}
.custom .mainFooter>.footerInfo>.footerInfoR>.related{
    border-right:1px solid lightgray;
    width:140px;
}
.custom .mainFooter>.footerInfo>.footerInfoR>.related a{
    padding:10px;
}


.custom .mainFooter>.footerInfo>.footerInfoR>.personInfo{
    width:210px;
}
.custom .mainFooter>.footerInfo>.footerInfoR>.personInfo a{
    padding:10px;
}

/* footer font */
.custom .mainFooter>.footerInfo p{
    font-family:"nexonRegular";
}

.custom .mainFooter>.footerInfo a{
    font-family:"nexonRegular";
}