input,
select {
    height: 50px;
}

input::placeholder {
    /* placeholder 걸려있는 입력창 글자 색깔 조정용 */
 	color: #abb4bd;
}

.box{
    width: 1280px;
    /* border:1px solid; */
}
.box>.title{
    display:flex;
    justify-content: center;
    margin:30px 0;
}
.box>.title>h1 {
    text-align: center;
    font-family: "logo";
    font-size:50px;
    /* border:1px solid; */
    margin-right:30px;
}
.box>.title>h2 {
    /* border:1px solid; */
    font-family:"nexonBold";
    font-size:45px;
    text-align: center;
}

.step {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

}
.step>.on{
    display:flex;
    /* border:1px solid; */
    text-align: center;
    padding:10px;
}
.step>.on>.num{
    line-height:60px;
    /* border:1px solid; */
}
.step>.on>.num>em {
    /* 1, 2, 3 숫자  */
    display: inline-block;
    width: 37px;
    height: 37px;
    font-family: "nexonLight";
    /* color: #3A6B71; */
    text-align: center;
    line-height: 37px;
    margin-right: 15px;
    border-radius: 50%;
}

.step>.on::after {
    content: "...";
    display: inline-block;
    font-size: 20px;
    letter-spacing: 3px;
    width: 37px;
    height: 37px;
    line-height: 60px;
}

.step>.on:last-child::after {
    content: none;
}

.step>.on>.num>em.active {
    /* 1, 2, 3 꺼멓게 칠할거 */
    background-color: #3A6B71;
    font-weight: bold;
    color: white;
}

.step>.on>.num>.done {
    background: #ccc;
    border-color: #ccc;
    color: white;
}
.step>.on>p{
    font-family:"nexonLight";
    font-size:20px;
    /* border:1px solid; */
}
.provide-points {
    width: 100%;
    height: 104px;
    margin-right: 0 0 30px;
    padding: 25px 0;
    background-color: #3A6B71;
    color: #A5A5A5;
    font: 14px;
    font-family:"nexonRegular";
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.provide-points>b {
    width: 100%;
    height: 26px;
    font-size: 18px;
    font-family: "nexonRegular";
    color: white;
    margin: 0 0 8px;
}

/* 회원가입폼 */
.join-form {
    /* 아이디나 이름 생년월일 적을 칸들이 있는 공간 */
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 10px;
    margin-top: 30px;
}

.join-form>dl {
    /* 왼쪽의 항목칸과 오른쪽의 input이 같이 들어있는 줄 공간 */

    /* background-color: aqua; */

    width: 100%;
    /* height: 50px; */

    display: flex;

    line-height: 50px;

    position: relative;

    justify-content: space-between;

    margin: 0 0 20px;

    align-items: flex-start;

}

.join-form>dl>dt {
    /* 왼쪽의 아이디, 이름, 생년월일 공간 */
    /* position: absolute; */
    /* left: 0; */
    /* border:1px solid; */
    font-family: "nexonBold";
    font-size:20px;
    flex: 1;
}

.join-form>dl>dd {
    /* 오른쪽의 사용자가 입력하는 공간 */
    /* position: absolute; */
    /* right: 0; */

    flex: 3;

    width: 75%;
    height: 50px;
}

.join-form>dl>dd>input {
    /* 아이디나 이름 쓰는 긴 입력창 */
    width: 100%;
    height: 50px;

    
    border: 1px solid #d8d8d8;
}

.select-div {
    /* 생년월일 select 3개 있는 공간 */
    display: flex;

    gap: 10px;

    /* background-color: red; */
}

.select-div>select {
    /* 생년월일 select 기본 설정 */

    
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
}

.select-div>:nth-child(1) {
    /* 첫 번째 select 크기 설정 */
    flex: 4;
}

.select-div>:nth-child(2) {
    /* 두 번째 select 크기 설정 */
    flex: 2;
}

.select-div>:nth-child(3) {
    /* 세 번째 select 크기 설정 */
    flex: 2;
}

.gender-check{
    height: 50px;

}

.gender-check>label{
    /* 라디오박스와 글자가 적혀져있는 공간 */

    font-size: 18px;

    padding: 0 10px;

    cursor: pointer;
    /* align-items: center; */
    
}

.gender-check>label>input[type="radio"] {
    appearance: none;

    /* background-color: red; */

    width: 18px;
    height: 18px;
    border: 2px solid #666;

    border-radius: 50%;

    outline: none;

    position: relative;
    
    cursor: pointer;
    
    margin-right: 8px;
}


.gender-check>label>input[type="radio"]::after{
    /* 체크되면 체크된거처럼 보이게 할거 */
    content: "";
    width: 10px;
    height: 10px;
    
    background-color: black;
    
    border-radius: 50%;
    
    left: 13%;
    top: 13%;
    position: absolute;

    opacity: 0;
    transition: opacity 0.2s;
}

.gender-check>label>input[type="radio"]:checked::after{
    opacity: 1;
}

.gender-check>label>input[type="radio"]:focus-visible{
     box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

.gender-check>label>input[type="radio"]:hover{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
    cursor: pointer;
}


.guide{
    /* 비밀번호 규칙 안내 공간 -> 영문 대소문자, 숫자, 특수문자 ... */
    height: 20px;
    width: 100%;

    /* background-color: red; */

    padding-top: 7px;

    color: #a7a7a7;
    
    font-size: 12px;
  
    line-height: 20px;

}


.etc-input{
    /* background-color: red; */
    
    margin-left: 20px;

    width: 88%;
    height: 40px;

    border: 1px solid #d8d8d8;

    flex: 1;  /* grid 안에서 적절히 늘어나도록 */
    
    margin: 0 0 0 10px; /* 위아래 여백 없애기 */


}


.addr-d1{}


.line{
    /* width: 100%; */
    margin: 30px;
    border: 1px solid #d8d8d8;
}

/* 관심 창업 아이템 체크박스들 */
.keyword-dl{
    height: 200px;
    
}
.keyword-checkbox{
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.keyword-checkbox>label{
    font-size: 16px;
    padding-top: 0 10px;
    cursor: pointer;
    align-items: center;
}

.keyword-checkbox>label>input[type="checkbox"] {
    appearance: none;
    /* background-color: red; */
    width: 16px;
    height: 16px;
    border: 2px solid #666;
    /* border-radius: 50%; */
    /* outline: none; */
    position: relative;
    cursor: pointer;
    margin-right: 8px;
}


.keyword-checkbox>label>input[type="checkbox"]::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: black;
    left: 8%;
    top: 8%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}

.keyword-checkbox>label>input[type="checkbox"]:checked::after{
    opacity: 1;
}

.keyword-checkbox>label>input[type="checkbox"]:focus-visible{
     box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

.keyword-checkbox>label>input[type="checkbox"]:hover{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
    cursor: pointer;
}

.keyword-guide{
    height: 20px;
    width: 100%;
    color: #a7a7a7;
    font-size: 15px;
    line-height: 2;
    grid-column: 1 / -1;
    white-space: pre-line;
}

/* 수신여부 */
.recieve-dl{
    height: 100px;
}

.recieve-checkbox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.recieve-checkbox{
    font-size: 18px;
    padding-top: 0 10px;
    cursor: pointer;
    align-items: center;
}

.recieve-checkbox>label>input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #666;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
}

.recieve-checkbox>label>input[type="checkbox"]::after{
    /* 체크되면 체크된거처럼 보이게 할거 */
    content: "";
    width: 10px;
    height: 10px;
    background-color: black;
    left: 14%;
    top: 14%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}

.recieve-checkbox>label>input[type="checkbox"]:checked::after{
    opacity: 1;
}

.recieve-checkbox>label>input[type="checkbox"]:focus-visible{
     box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

.recieve-checkbox>label>input[type="checkbox"]:hover{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
    cursor: pointer;
}

.recieve-guide{
    height: 20px;
    width: 100%;
    color: #a7a7a7;
    font-size: 15px;
    line-height: 2;
    grid-column: 1 / -1;
    white-space: pre-line;
}

/* 버튼 */
.cancel-join{
    margin-bottom:100px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cancel-join a{
    width: 230px;
    height: 70px;

    text-decoration: none;
    color: #FFF;

    font-family: sans-serif;
    font-size: 20px;
    margin: 0 10px;

    text-align: center;

    line-height: 70px;

    border-radius: 1%;

    background-color: #c4c4c4;
}

.cancel-join>:nth-child(2){
    background-color: #3A6B71;
}
