
.sign-in{
    height: 700px;
    display: flex;
    justify-content: center;
}

.sign-in>main{
    margin:70px 0;
    width: 500px;
}

.sign-in>main>h2{
    /* 로그인 글자  */
    text-align: center;
    width: 500px;
    height: 45px;
    font-size: 40px;
    font-family: "nexonBold";
}

.under-line{
    /* 로그인 밑의 줄을 위해 */
    height: 30px;
    margin-bottom: 40px;

    border-bottom: 1px solid black;
}


.login{
    /* 아이디(이메일)부터 비밀번호찾기까지의 공간 */
    width: 500px;
}
.login>.form{
    /* 로그인 폼 있는 공간 */

}
.form>dt{
    /* 아이디랑 비밀번호 글자 태그 */
    width: 100%;
    font-family:"nexonBold";
    margin: 5px 0;
    font-size:20px;
}
.form>input{
    /* 아이디와 비밀번호 input 태그  */
    width: 100%;
    height: 50px;
    margin: 5px 0;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}

.form>.submit-block{
    /* 로그인 submit 태그 */
    height: 70px;
    background-color: #3A6B71;
    color: white;
    font-family:sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 4px;
    font-family: "nexonBold";
}

.tx_btns{
    display: flex;
    justify-content: space-between;
}

.tx_btns>div{
    display: flex;
    gap: 10px;

}

.login-a-tag{
    /* 회원가입, 아이디 찾기, 비밀번호 찾기의 a태그 */
    word-spacing: -1px;
    color: black;
    font-family:"nexonRegular";
}















